<!-- <app-databinding></app-databinding> -->
 <!-- <app-directives></app-directives> -->
  <!-- <app-pipe></app-pipe> -->
   <!-- <app-component-communication></app-component-communication> -->
    <!-- router -->
    <!-- <router-outlet></router-outlet>  -->
    <!-- http api calls -->
     <!-- <app-product></app-product> -->
      <!-- Template-Driven Forms -->
<!-- <app-template-driven></app-template-driven> -->
<!-- Reactive Forms -->
 <!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <h1>Angular Lifecycle Hooks Example</h1> -->

<!-- Input Binding (ngOnChanges Example) -->
<!-- <input type="text" [(ngModel)]="wish" placeholder="Type something...">
<app-onchages-on-init [cdata]="wish"></app-onchages-on-init> -->

<!-- Counter (ngOnInit & ngOnChanges Example) -->
<!-- <div class="container text-center mt-4">
      <h2>Real-Time Counter</h2>
      <button class="btn btn-success mx-2" (click)="increaseCount()">Increase</button>
      <button class="btn btn-danger mx-2" (click)="decreaseCount()">Decrease</button>

      <app-onchages-on-init [count]="count"></app-onchages-on-init>
</div> -->

<!-- ngdocheack -->
<!-- <div class="container mt-4">
      <h2>ngDoCheck Example</h2>

      <div class="w-50 me-4">
            <input type="text" class="form-control" [(ngModel)]="mobile" placeholder="Enter mobile brand">
            <button class="btn btn-primary mt-2" (click)="addMobile()">Add</button>
      </div>
</div>
<app-ngdocheack [mobiles]="mList"></app-ngdocheack> -->

<!-- ngOnInit , ngAfterViewInit ,ngAfterViewCheaked -->
<!-- <div class="container mt-4">
      <h2>Angular Lifecycle Hooks ngOnInit , ngAfterViewInit ,ngAfterViewCheaked Example</h2>
      <app-produc></app-produc>
</div> -->

<!-- ngAfterContentInit & ngAfterContentChecked -->
<!-- <div class="container mt-4">
      <h2>Angular Lifecycle Hooks ngAfterContentInit & ngAfterContentChecked Example</h2>
      <app-user>
            <p>{{ userName }}</p>
      </app-user>

      <button class="btn btn-primary mt-3" (click)="changeUserName()">Change User</button>
</div> -->

<!-- ngOnDestroy -->

<!-- <h2>ngOnDestroy Example</h2>
<button (click)="toggleComponent()">Toggle Component</button>

<hr>

<app-test *ngIf="showComponent"></app-test> -->

<!-- Observable -->
 <!-- <app-observable></app-observable> -->

<!-- subjects -->

<!-- <div class="container">
    <app-todof></app-todof>
    <app-todol></app-todol>
</div> -->
<!-- <app-chat></app-chat> -->

<!-- BehaviorSubject -->
 <!-- <app-auth></app-auth> -->

 <!-- ReplySubject  -->
  <!-- <app-notifications></app-notifications> -->

  <!-- AsyncSubject  -->
   <!-- <app-data></app-data> -->

   <!-- Operators -->
    <app-operator></app-operator>


